.restaurant-menu-container {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.page-heading {
  font-size: 22px;
  color: #d32f2f;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-heading2 {
color:#ffd30df1;
}

.ant-table-thead > tr > th {
  background-color: #ffe082;
  font-weight: 600;
}

.menu-actions .ant-btn {
  background-color: #ffcc00;
  border-color: #ffcc00;
  color: #000;
}

.menu-actions .ant-btn:hover {
  background-color: #ffb300;
  border-color: #ffb300;
  color: #fff;
}
