.manage-restaurants-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.page-heading {
  font-size: 24px;
  color: #ef4444; /* FoodPorter Red */
  margin-bottom: 20px;
  font-weight: 600;
  text-align: left;
}
.page-heading2{
  color:#ffd30df1;
}

.restaurant-name {
  color: #f59e0b; /* FoodPorter Yellow */
  font-weight: 600;
}

.table-actions {
  display: flex;
  justify-content: start;
  gap: 8px;
}

.action-btn {
  border: none;
}

.view-btn {
  background-color: #f59e0b;
  color: #fff;
}

.view-btn:hover {
  background-color: #d97706;
  color: #fff;
}

.edit-btn {
  background-color: #ef4444;
  color: #fff;
}

.edit-btn:hover {
  background-color: #dc2626;
  color: #fff;
}
